@import "../vendor/bootstrap-grid.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.btn-primary {
  background: #05ab6e;
  color: #ffffff;
  border-color: #05ab6e;
  border-radius: 60px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 56px;
  font-weight: 500;
}
@media (min-width: 576px) {
  .btn-primary {
    width: 133px;
  }
}
.btn-primary:hover {
  background: #059c64;
}
.btn-primary.disabled, .btn-primary[disabled] {
  background: #585858;
  border-color: #585858;
  cursor: not-allowed;
}

.btn-seconary {
  background: #ffffff;
  color: #4e4e4e;
  border-color: #4e4e4e;
  border-radius: 60px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 56px;
  font-weight: 500;
  margin-left: 25px;
}
@media (min-width: 576px) {
  .btn-seconary {
    width: 133px;
  }
}
.btn-seconary:hover {
  background: #f7f7f7;
}
.btn-seconary.disabled, .btn-seconary[disabled] {
  background: white;
  border-color: #4e4e4e;
  cursor: not-allowed;
}
.btn-seconary:hover {
  background: #e6e6e6;
}

.btn-third {
  background: #ffffff;
  color: #3693FF;
  border-color: #3693FF;
  border-radius: 60px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 56px;
  font-weight: 500;
}
@media (min-width: 576px) {
  .btn-third {
    width: 133px;
  }
}
.btn-third:hover {
  background: #f7f7f7;
}
.btn-third.disabled, .btn-third[disabled] {
  background: white;
  border-color: #9b9b9b;
  cursor: not-allowed;
}

.card {
  text-align: center;
}
.card .card-info {
  margin: 30px 0;
}
.card .card-info h4 {
  font-size: 16px;
  font-weight: 500;
  color: #05ab6e;
}
.card .card-info h3 {
  font-size: 40px;
  margin: 20px 0;
  font-weight: 600;
}
.card .card-info p {
  color: #aaaaaa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #4e4e4e;
}

.header {
  padding-top: 30px;
  padding-bottom: 140px;
  background-color: #4e4e4e;
  color: #ffffff;
}
.header .topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.header .topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 60px;
}
.header .topnav a:hover {
  transition: all 0.3s;
  display: inline-block;
}
.header .topnav .logo {
  width: 50%;
  font-size: 24px;
  text-align: center;
}
.header .topnav .button-signup {
  text-align: right;
  width: 50%;
}
.header .topnav .subpages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header .topnav .subpages a:hover {
  background: #e6e6e6;
  color: black;
}

@media (min-width: 768px) {
  .header .topnav .logo {
    width: auto;
    order: 1;
  }
  .header .topnav .subpages {
    order: 2;
    width: auto;
  }
  .header .topnav .button-signup {
    width: auto;
    order: 3;
  }
}
@media (min-width: 1024px) {
  .header .topnav .logo {
    width: 40%;
    text-align: left;
  }
}
.header .title-header {
  padding-top: 30px;
  text-align: center;
}
.header .title-header .main-title {
  font-size: 48px;
  font-weight: 700;
}
.header .title-header .sub-title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .header .title-header {
    width: 60%;
    text-align: left;
  }
  .header .title-header .header-title-buttons {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .header .title-header {
    width: 50%;
  }
}
.header .header-image {
  max-width: 1200px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 30px auto;
  margin-top: 30px;
}
.header .header-image img {
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .header .header-image {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .header .header-image {
    width: 930px;
  }
}
@media (min-width: 1200px) {
  .header .header-image {
    width: auto;
  }
}
.services {
  margin-top: 60px;
}
.services .card .item {
  background-color: #eff0f6;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.services .card .item .item-title {
  font-size: 20px;
  font-weight: 500;
}
.services .card .item .icon-element {
  background-color: #05ab6e;
  width: 80px;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: auto;
}
.services .card .item .icon-element i {
  color: #ffffff;
  font-size: 35px;
}

@media (min-width: 576px) {
  .services {
    margin-top: 100px;
  }
}
@media (min-width: 1024px) {
  .services {
    margin-top: 200px;
  }
}
@media (min-width: 1200px) {
  .services {
    margin-top: 300px;
  }
}
.pricing .plan-box {
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 13px 7px 25px 15px #f7f7f7;
  -moz-box-shadow: 13px 7px 25px 15px #f7f7f7;
  box-shadow: 13px 7px 25px 15px #f7f7f7;
  max-width: 378px;
  margin: auto;
}
.pricing .plan-box:hover {
  color: #ffffff;
  background-color: #05ab6e;
}
.pricing .plan-box:hover .plan-description {
  color: #ffffff;
}
.pricing .plan-box:hover button {
  background-color: #05ab6e;
  border-color: #ffffff;
  color: #ffffff;
}
.pricing .plan-box:hover button:hover {
  background-color: #ffffff;
  border-color: #3693FF;
  color: #3693ff;
}
.pricing .plan-box .plan-box-magic {
  padding: 0;
}
.pricing .plan-box h5 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.pricing .plan-box h4 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}
.pricing .plan-box h4 span {
  font-size: 16px;
  font-weight: 400;
}
.pricing .plan-box .plan-description {
  color: #aaaaaa;
}
.pricing .plan-box .plan-info {
  padding-left: 20%;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
  text-align: left;
}
.pricing .plan-box .plan-info span {
  padding: 10px;
}

@media (min-width: 768px) {
  .pricing .plan-box {
    text-align: left;
    padding: 4px;
  }
  .pricing .plan-box .plan-info {
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .pricing .plan-box {
    padding: 20px;
  }
}
.started {
  margin-top: 40px;
  color: #ffffff;
  height: 250px;
  position: relative;
}
.started .started-container {
  background-color: #0779e4;
  border-radius: 20px;
}
.started img {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: 330px;
  margin-left: auto;
  margin-right: auto;
}
.started .started-description {
  height: 250px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.started .started-description h3 {
  font-size: 40px;
  font-weight: 600;
  margin: 20px 0;
}
.started .started-description button {
  background: rgba(7, 121, 228, 0.2);
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 60px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 56px;
  font-weight: 500;
}
@media (min-width: 576px) {
  .started .started-description button {
    width: 133px;
  }
}
.started .started-description button:hover {
  background-color: #ffffff;
  border-color: #3693ff;
  color: #3693ff;
}

@media (min-width: 768px) {
  .started {
    height: 300px;
  }
  .started .started-description {
    height: 300px;
  }
}
@media (min-width: 1025px) {
  .started {
    height: 350px;
  }
  .started .started-description {
    height: 350px;
  }
}
@media (min-width: 1025px) {
  .started {
    height: 350px;
  }
  .started .started-description {
    height: 350px;
  }
}
footer {
  background-color: #011222;
  color: #ffffff;
  margin-top: 40px;
}
footer .company-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .company-info h4 {
  font-weight: 600;
  font-size: 20px;
}
footer .company-info p {
  color: #ffffff;
  opacity: 0.6;
}
footer .footer-sublinks {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footer-sublinks h4 {
  font-weight: 600;
  font-size: 16px;
  margin: 28px 0;
}
footer .footer-sublinks a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.6;
}
footer .copyright {
  text-align: center;
}

@media (min-width: 768px) {
  footer .footer-sublinks {
    display: block;
  }
  footer .company-info {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
