.btn-primary {
  @include btn($seconary-color, $white-color, $seconary-color);
}

.btn-seconary {
  @include btn($white-color, $dark-color, $dark-color);
  margin-left: 25px;
  &:hover {
    background: darken($white-color, 10);
  }
}

.btn-third {
  @include btn($seconary-color, $white-color, $white-color);
}

.card {
  text-align: center;
  .card-info {
    margin: 30px 0;
    h4 {
      font-size: 16px;
      font-weight: $font-medium;
      color: $seconary-color;
    }
    h3 {
      font-size: 40px;
      margin: 20px 0;
      font-weight: $font-semi-bold;
    }
    p {
      color: $grey-color;
    }
  }
}
