*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $white-color;
  font-family: $font-text;
  font-weight: $font-regular;
  font-size: 14px;
  line-height: 1.7;
  color: $dark-color;
}

